@import "tailwindcss";
@import "@nuxt/ui";
/* TODO : isolate bg-gray hover and normal (on tailwind config ? or in a class here)
/* Custom css classes */

@font-face {
  font-family: "MursGothic";
  src: url("/fonts/mursgothic-widedark.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root
{
  --primary: #B197FC;
  --secondary: #000000;
  --white: #fffeff;
}
.color-primary
{
  color: var(--primary);
}
.color-secondary
{
  color: var(--secondary);
}
.color-white
{
  color: var(--white);
}
.bg-primary
{
  background-color: var(--primary);
}
.bg-secondary
{
  background-color: var(--secondary);
}
.bg-white
{
  background-color: var(--white);
}